* {
  margin: 5px;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
  text-align: center;
}

/* Estilos para el navegador */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
}

ul li a:hover {
  background-color: #007bff;
  color: #fff;
}
